.search-form{
    height: 400px; 
    background: url("https://st.redbus.in/images/SearchBus/Web-banner%20%281%29.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
}

.input-fonts{
    font-size: 16px; 
}

.search-btn{
    background: #D84F57;
    font-weight: bold;
    font-size: 15px; 
}

.search-btn:hover{
    background: #D84F57;
    border: none ; 
}