.offer-card{
    cursor: pointer; 
    transition: transform 400ms ease-in-out;
    margin: 0 10px; 
}

.offer-card:hover{
    transform: scale(1.05);
}

.offer-text{
    font-size: 14px; 
    color: #737373; 
    font-weight: bold;
}